* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  padding: 20px;
  background: rgb(244, 244, 244);
}

h1 {
  text-align: center;
  margin-top: 50px;
}

p {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2rem;
}
